html, body {
  height: 100%;
  margin: 0;
  background-color: #E5E5E5;
}

body {
  overflow: auto;
  font-family: "Lucida Grande", Verdana, Helvetica, Arial, Sans-serif;
}

core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

core-toolbar {
  background: #03a9f4;
  color: white;
  font-size: 48px;
}
